/* sites 섹션 */
.sites{
    padding: 80px 20px 20px 20px;
    width: 100%;
    height: 100%;
}
.sites_content{
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}
.sites_column{
    flex: 1;
    height: 400px;
    border-right: 1px dashed #ffc0cb;
}
.sites_column:last-child{
    border-right: none;
}
.sites_image{
    text-align: center;
}
.sites_image img{
    width: 300px;
    height: auto;
}
.sites_text{
    margin-top: 10px;
    line-height: 25px;
}
.sites_text h3{
    margin-bottom: 10px;
}